
  @media only screen and (max-width: 757px) {
    td {
        padding: 15px;
    }
  }
  @media only screen and (max-width: 600px) {
    section {
        background-color: pink;
    }
    table {
        width: 100%
    }
    td {
        width: 50px;
        height: auto;
        padding: 5px;
    }
    #menubar_center {
        font-size: 15px;
    }
    
  }
  
  @media only screen and (max-width: 490px) {
    section {
        background-color: rgb(94, 255, 0);
    }
    td {
        font-size: 18px;
        font-weight: 500;

    }
  }

  @media only screen and (max-width: 392px) {
  * {
    /* font-size: 5px; */
    color: red;
  }
    section {
        background-color: azure;
    }
    td {
        font-size: 14px;
        
    }
    .menubarItem {
        color: blue;
        font-size: 14px;
        padding: 2px;
    }
  }